{% extends 'base.html' %}
{% load easy_maps_tags %}
{% block content %}


<h1 class="center-align">{{ park.name }}</h1>
<div class="parks-detail">
  <div class="park-map center-align">
    {% easy_map park.address 300 400 %}
    <br>
    {{ park.address }} {{ park.zipcode }}
    <p>Hours of Operation: {{ park.schedule }}</p>
  </div>


    <div class="add-game">
    <form action="{% url 'add_game' park.id %}" method="post">
      {% csrf_token %}
      {{ new_game_form.as_p }}
      <input type="submit" class="btn" value="Add Game">
    </form>
  </div>
  <div class="games-list">
    <br>
    {% if game %}
    <div class="card-panel teal-text center-align">Here is a list of games</div>
    {% else %}
    <div class="card-panel red-text center-align">No games added</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th># of Players</th>
        </tr>
      </thead>
      <tbody>
        {% for game in park.game_set.all %}
        <tr>
          <td>{{game.date}}</td>
          <td>{{game.time}}</td>
          <td>{{game.count}}</td>
          <form action="{% url 'games_detail' game.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="Details">
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>




{% endblock %}